body{
    background-color: rgb(56, 64, 71);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-wrap: anywhere;
    margin: 0px;
    background-image: url("homepage_background.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainLogo{
    border: 5px solid rgb(255, 255, 255);
    border-radius: 30px;
    width: 18rem;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.container {
    display: flex;
    margin-bottom: 70px;
}
.container .gameBox {
    padding: 10px;
    padding-bottom: 75px;
    height: 200px;
}
.container .toolBox{
    padding: 10px;
    padding-bottom: 75px;
    height: 200px;
}

.groupTitle{
    font-size: 1.25rem;
}


.games{
    flex: 1;
}
.tools{
    flex: 1;
}

#title{
    color: white;
}


h2{
    color: white;
    cursor: pointer;
}

.gameLogo{
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.185);
    border: black solid 5px;
    width: 24rem;
    height: 12rem;
    margin-top: 5px;
    cursor: pointer;
    animation: unhoverImg 150ms forwards;
}
.gameLogo:hover{
    animation: hoverImg 150ms forwards;
}


.gameBox{
    margin-top: 20px;
}
.toolBox{
    margin-top: 20px;
}



@media (max-width: 900px){
    .container {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .groupTitleContainer{
        flex-direction: column;
    }
    .gameLogo {
        width: 18rem;
        height: 9rem;
        animation: unhoverImgSmall 150ms forwards;
    }
    .gameLogo:hover{
        animation: hoverImgSmall 150ms forwards;
    }
}


@keyframes hoverImgSmall{
    100%{
        width: 18.75rem;
        height: 9.375rem;
    }
}
@keyframes unhoverImgSmall{
    0%{
        width: 18.75rem;
        height: 9.375rem;
    }
    100%{
        width: 18rem;
        height: 9rem;
    }
}


@keyframes hoverImg{
    100%{
        width: 25rem;
        height: 12.5rem;
    }
}
@keyframes unhoverImg{
    0%{
        width: 25rem;
        height: 12.5rem;
    }
    100%{
        width: 24rem;
        height: 12rem;
    }
}


.center{
    align-items: center;
    text-align: center;
    justify-content: center;
}

button{
    font-weight: bold;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    background-color: rgb(185, 0, 158);
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 5px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(158, 0, 134);
}
button:active{
    background-color: rgb(122, 0, 104);
}


mark{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

dialog .wrapper{
    padding: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;  
}
dialog{
    /* remove scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border: 5px solid rgb(20, 3, 45);
    background-color: rgb(47, 3, 77);
}
/* remove scrollbar */
dialog::-webkit-scrollbar {
    display: none;
}

a{
    color: rgb(255, 0, 216);
    font-weight: bold;
}
a:hover{
    color: rgb(182, 0, 155);
}
a:active{
    color: rgb(150, 0, 127);
}